@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Coming soon...</p>
    <div class="row">
        Hear you can book the nearby ground .
        will be rolled back
    </div>
</div>

